# XXX(iciclejj): Some custom files/directories I use
include/_benchmark.h
scran

main
build/
TODO.txt

**/*.o
*.mp4
*.m2ts

wayland-protocols/*

compile_commands.json
cscope*.out
vgcore.*
callgrind.out.*
perf.data*

.cache/
.vscode/
